<!DOCTYPE html>
<html lang="si">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ info.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ info.title }}</h1>
        <p class="description">{{ info.description }}</p>
        <p class="subs">Subscribers: <span>{{ info.subscribers }}</span></p>
        
        <a href="{{ info.channel_url }}" target="_blank" class="btn">
            YouTube C
